/* Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}

header {
    padding: 25px;
    box-shadow: 0px 2px 5px -2px grey;
}
header h1 {
    font-size: 36px;
    margin-left: 20px;
    font-weight: bolder;
}
.add-a-book {
    margin: 50px auto 30px auto;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
}
button {
    display: block;
    border: none;
}
button:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.display {
    padding: 5px;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card {
    box-shadow: 0px 0px 4px grey;
    border-radius: 8px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.card * {
    font-size: 20px;
    text-align: center;
}
.card button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.read {
    background-color: lightgreen;
}
.unread {
    background-color: lightcoral;
}

/* media queries */

@media only screen and (min-width: 768px) {
    .display {
        padding: 25px;
        max-width: 1440px;
    }
}